<div class="header">
    <img class="logo" src="../../../../assets/logo.webp" alt="">
    <div class="search">
        <input class="input-search" type="text">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div>
        <button><i class="fa-solid fa-heart"></i></button>
        <button><i class="fa-solid fa-cart-shopping"></i></button>
    </div>
    <div>
        <button class="get_started">Get Started</button>
    </div>
</div>
<div class="manu-bar">

</div>